.row{
    margin: 0;
    padding:0;
}
.no-padding{
    padding: 0 !important;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand > img{
    padding:5px;
    width:50px;
}
.nav.nav-pills > * > a{
    border-radius: 0 !important;
}

#Side-Panel{
    position: fixed;
    top:0;left:0;
    height: 100vh;
}
#Side-Panel > header{
    padding:10px;
    height:100px;
    background-color: #000;
}

#Content-Panel{
    padding: 20px;
    height: 1000px;
}

#EditGalleryList{
    position: relative;
    float: left;
    list-style: none;
    width:100%;height:auto;
    padding: 0;
}
#EditGalleryList > li{
    position: relative;
    float: left;
    height:200px;
    padding: 10px;
}
#EditGalleryList > li > span{
    position: relative;
    float: left;
    width:100%;height:100%;
}
#EditGalleryList > li > span > header{
    position: relative;
    clear: both;
    float: left;
    width:100%;height:20px;
    /*background-color: #FFF;*/
}
#EditGalleryList > li > span > figure{
    position: relative;
    clear: both;
    float: left;
    width:100%;height:calc(100% - 20px);
    overflow: hidden;
    background-color: #3b3b3b;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}