.yellow{
    color:#F1C40F;
}
.yellow-darker{
    color:#e2b70d;
}
.green{
    color:#2ecc71;
}
.green-darker{
    color:#28b062;
}
.pink{
    color: rgba(255, 108, 168,1);
    color:#FF6CA8;
}
.hover-dark{
    color:#aaa;
}