body{
    position: relative;
    top:0;left:0;
    width:100%;height:auto;
    color:#555;
    background-color:rgba(255, 108, 168,0.08);
}
a:hover{
    cursor: pointer;
}
.pointer,
[data-toggle="collapse"]{
    cursor:pointer !important;
}
small, .small{
    font-size:80%;
}
.requiredinput:after{
    position:absolute;
    top:0;right:0;
    display:inline !important;
    content:'*' !important;
    color:#F00;
}
.no-resize{
    resize: none;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.clearfix{
    clear:both !important;
}
.hover-underline{
    text-decoration: underline;
}
.alert{
    border-radius:0;
}
.no-padding{
    padding: 0 !important;
}
.no-shadow{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}
.not-rounded{
    border-radius:0px !important;
}
.center{
    float: none !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-forced{
    top:50%;left:50%;
    transform: translate(-50%,-50%);
}
.text-underline{
    text-decoration: underline;
}
.text-italic{
    font-style: italic;
}
.text-white{
    color:#FFF;
}
.bg-pink{
    background-color:  rgba(255, 108, 168,1);    
}
.bg-yellow{
    background-color: #F1C40F; 
}
.bg-trans{
    background-color: transparent !important;
}
.btn-white{
    color: #555;
    background-color: #FFF;
}
.btn-white:focus,
.btn-white:hover{
    color: #555;
    background-color: #fafafa;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus, select:focus, select.form-control:focus{
    -webkit-box-shadow: inset 0 -2px 0 #2ecc71;
    -moz-box-shadow: inset 0 -2px 0 #2ecc71;
    box-shadow: inset 0 -2px 0 #2ecc71;
}
.rot-45{
    transform: rotateZ(45deg);
}

#body-wrapper{
    position: relative;
    width:100%;height:100%;
    padding:0;
    margin:0;
}

#Main-Navigation{
    position: absolute;
    top:0;left:0;
    width:100%;height:auto;
    background-color:rgba(0,0,0,0);
    z-index: 99;
}
#Main-Navigation > :first-child{
    height:65px;
    padding:10px;
}
#Nav-Logo-Start{
    position: relative;
    width:100%;height:100%;
}
#Nav-Logo-Start > img{
    position: relative;
    max-width:100%;max-height:100%;
    display: block;
    margin:0 auto;
}

#Home-Page-Hero{
    position: relative;
    top:0;left:0;
    width:100%;height:100vh;
    /*background-color:rgba(255, 108, 168,1);*/
    overflow:hidden;
}
#Home-Page-Hero > :first-child{
    position: absolute;
    top:0;left:0;
    height: 100%;
}
#Home-Page-Hero > :last-child{
    position: relative;
    top:0;left:0;
    width:100%;height:100%;
}
#Home-Page-Hero #Hero-Title{
    position: absolute;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
#Home-Page-Hero #Hero-Title > *{
    text-align: center;
    font-size:80px;
    font-weight: 900;
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
[data-zoom-fade-show] > *{
    position: absolute;
    top:0;left:0;
    width:100%;height:100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 2s;
    transform: scale(1);
    opacity:1;
}
[data-zoom-fade-show] > :last-child{
    transition: all linear 20s;
    transform: scale(1.1);
    opacity: 0.1;
}

.page-section{
    padding: 40px 20px;
}
.Section-Title{
    text-align: center;
    text-transform:uppercase;
    font-weight: 900;
    /*font-family: 'Poppins', sans-serif;*/
}
.Section-Title ~ hr{
    position: relative;
    top:0;
    width:70px;height:3px;
    margin:0 auto;
    background-color:#F1C40F;
}
#Services-Section{
    /*border-top: 10px solid rgba(255, 108, 168,1);
    border-bottom: 10px solid rgba(255, 108, 168,1);*/
    background-image: url('../../img/photo-city.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#Services-Section > .tint{
    position: absolute;
    top:0;left:0;
    width:100%;height:100%;
    background-color: #F1C40F;
    opacity: 0.6;
}
#Services-Section .Section-Title{
    color:#FFF;
}
#Services-Section .Section-Title ~ hr{
    background-color: #FFF;
}
#Services-Section ul{
    position: relative;
    list-style: none;
    /*margin-top:60px;*/
    width:auto;height:auto;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
#Services-Section p{
    color:#FFF;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    line-height:80px;
}
#Services-Section ul > li{
    position: relative;
    float: left;
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
    color:#FFF;
}
#Services-Section ul > li:after{
    content: "|";
    position: relative;
    float: left;
    font-size: 46px;
    margin-right: 20px;
}
#Services-Section ul > li:first-child{
    margin-left: 0;
}
#Services-Section ul > li:first-child:after{
    content: none;
    display: none;
}

.feature-section{
    padding: 0 !important;
    margin: 0 !important;
    height:100vh;
}
.feature-section > span{
    position: relative;
    height:100%;
    padding:0;
}
.feature-section > span:first-child{
    height: 150px;
}
.feature-section .title{
    position: absolute;
    top:50px;left:50%;
    transform: translateX(-50%);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.feature-section .img-section{
    position: relative;
    float:left;
    top:0;left:0;
    width:100%;height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    position:relative;
    clear: both;
    float: left;
    top:0;left:0;
    width:100%;height:auto;
    min-height:300px;
    background-color: #3b3b3b;
}

/*source.unsplash.com/random?city*/





@media only screen and (max-width : 1200px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .list-content-masonary{
        column-count: 2;
        column-gap: 1em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .list-content-masonary{
        column-count: 3;
        column-gap: 1em;
    }
}

/* Medium Devices, Desktops */
@media (min-width: 992px) {
    .list-content-masonary{
        column-count: 4;
        column-gap: 1em;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
