body{
    position: relative;
    top:0;left:0;
    width:100%;height:auto;
    color:#555;
    background-color:rgba(255, 108, 168,0.08);
}
a:hover{
    cursor: pointer;
}
.pointer,
[data-toggle="collapse"]{
    cursor:pointer !important;
}
small, .small{
    font-size:80%;
}
.hide-overflow{
    overflow:hidden;
}
.requiredinput:after{
    position:absolute;
    top:0;right:0;
    display:inline !important;
    content:'*' !important;
    color:#F00;
}
.no-resize{
    resize: none;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.clearfix{
    clear:both !important;
}
.hover-underline{
    text-decoration: underline;
}
.alert{
    border-radius:0;
}
.no-padding{
    padding: 0 !important;
}
.no-shadow{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}
.not-rounded{
    border-radius:0px !important;
}
.center{
    float: none !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-forced{
    top:50%;left:50%;
    transform: translate(-50%,-50%);
}
.text-underline{
    text-decoration: underline;
}
.text-italic{
    font-style: italic;
}
.text-white{
    color:#FFF;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align:left;
}
.bg-pink{
    background-color:  rgba(255, 108, 168,1);    
}
.bg-yellow{
    background-color: #F1C40F; 
}
.bg-trans{
    background-color: transparent !important;
}
.btn-white{
    color: #555;
    background-color: #FFF;
}
.btn-white:focus,
.btn-white:hover{
    color: #555;    
    background-color: #fafafa;
}
.bootstrap-select{
    padding: 0 !important;
    margin-bottom:8px !important;
}
.bootstrap-select > .btn,
.bootstrap-select .dropdown-menu{
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius:3px;
}
.btn.btn-default{
    color:#555;
    background-color:#FFF;
    border: 0;
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default,
.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus{
    color:#555;
    background-color: #FFF;
}
.bootstrap-select .dropdown-menu{
    border-radius: 0px 0px 3px 3px;
}

/*textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus, select:focus, select.form-control:focus{
    -webkit-box-shadow: inset 0 -2px 0 #2ecc71;
    -moz-box-shadow: inset 0 -2px 0 #2ecc71;
    box-shadow: inset 0 -2px 0 #2ecc71;
}*/
.rot-45{
    transform: rotateZ(45deg);
}

#body-wrapper{
    position: relative;
    width:100%;height:100%;
    padding:0;
    margin:0;
}

#Main-Navigation{
    position: absolute;
    top:0;left:0;
    width:100%;height:auto;
    background-color:rgba(0,0,0,0);
    transition: all ease-in .05s;
    z-index: 99;
    transition:all ease-in-out 0.05s;
    background: rgba(0,0,0,0.4);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 90%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.4)), color-stop(90%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 90%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 90%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 90%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}
.has-solid-banner #Main-Navigation{
    background: rgba(0,0,0,0.2);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 90%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.2)), color-stop(90%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 90%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 90%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 90%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}
#Main-Navigation.headroom--not-bottom.headroom--not-top.headroom--pinned{
    position: fixed;
    top:0;left:0;
    background:rgba(255, 108, 168,1);
    transition:all ease-in-out 0.25s;
}
#Main-Navigation.headroom--not-bottom.headroom--not-top.headroom--unpinned{
    position: fixed;
    top:0;left:0;
    transform: translateY(-100%);
    background:rgba(255, 108, 168,1);
    transition:all ease-in-out 0.25s;
}
#Main-Navigation.dark{
    transition: all ease-in .25s;
    border-bottom: 1px solid #3b3b3b;
    background:rgba(255, 108, 168,1);
}
#Main-Navigation > :first-child{
    height:65px;
    padding:10px;
}
#Nav-Logo-Start{
    position: relative;
    width:100%;height:100%;
}
#Nav-Logo-Start > img{
    position: relative;
    max-width:100%;max-height:100%;
    display: block;
    margin:0 auto;
}
#Main-Navigation-Links{
    position: relative;
    list-style:none;
    top:0;left:0;
    width:auto;height:auto;
    padding:20px;
}
#Main-Navigation-Links > li{
    position:relative;
    float: left;
    margin-right: 10px;
}
#Main-Navigation-Links > li:after{
    content: "\00b7";
    position: relative;
    float: right;
    color: #FFF;
    margin-left: 10px;
}
#Main-Navigation-Links > li:last-child:after{
    content: '';
    display: none;
}
#Main-Navigation-Links > li > a{
    position: relative;
    color: #FFF;
    font-size: 16px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    opacity: 0.8;
}
#Main-Navigation-Links > li.active > a,
#Main-Navigation-Links > li > a:hover{
    opacity:1;
}

#mobile-menu-toggle{
    position: relative;
    width:100%;
    padding:10px 5px;
    color:#FFF;
}
#mobile-menu-toggle:hover{
    color:#eee;
}
#mobile-menu{
    list-style: none;
    padding:30px;
}
#mobile-menu > li{
    position: relative;
    clear: both;
    float:left;
    width:100%;
    margin-bottom: 5px;
}
#mobile-menu > li > a{
    position: relative;
    width:100%;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    padding:10px 5px;
}

#Home-Page-Hero{
    position: relative;
    top:0;left:0;
    width:100%;height:100vh;
    /*background-color:rgba(255, 108, 168,1);*/
    overflow:hidden;
}
#Home-Page-Hero > :first-child{
    position: absolute;
    top:0;left:0;
    height: 100%;
}
#Home-Page-Hero > :last-child{
    position: relative;
    top:0;left:0;
    width:100%;height:100%;
}
#Home-Page-Hero #Hero-Title{
    position: absolute;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
#Home-Page-Hero #Hero-Title > *{
    text-align: center;
    font-size:30px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
[data-zoom-fade-show] > *{
    position: absolute;
    top:0;left:0;
    width:100%;height:100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 2s;
    transform: scale(1);
    opacity:1;
}
[data-zoom-fade-show] > :last-child{
    transition: all linear 20s;
    transform: scale(1.1);
    opacity: 0.1;
}

.page-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.Section-Title{
    text-align: center;
    text-transform:uppercase;
    font-weight: 900;
    /*font-family: 'Poppins', sans-serif;*/
}
.Section-Title ~ hr{
    position: relative;
    top:0;
    width:70px;height:3px;
    margin:0 auto;
    background-color:#F1C40F;
}
.accent_underline ~ hr{
    position: relative;
    clear: both;
    top:0;
    width:70px;height:3px;
    margin:0 auto;
    background-color:#F1C40F;
}
#Services-Section{
    /*border-top: 10px solid rgba(255, 108, 168,1);
    border-bottom: 10px solid rgba(255, 108, 168,1);*/
    background-image: url('../../img/photo-city.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#Services-Section > .tint{
    position: absolute;
    top:0;left:0;
    width:100%;height:100%;
    background-color: #F1C40F;
    opacity: 0.6;
}
#Services-Section .Section-Title{
    color:#FFF;
}
#Services-Section .Section-Title ~ hr{
    background-color: #FFF;
}
#Services-Section ul{
    position: relative;
    list-style: none;
    /*margin-top:60px;*/
    width:auto;height:auto;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
#Services-Section p{
    color:#FFF;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    line-height:80px;
}
#Services-Section ul > li{
    position: relative;
    float: left;
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
    color:#FFF;
}
#Services-Section ul > li:after{
    content: "|";
    position: relative;
    float: left;
    font-size: 46px;
    margin-right: 20px;
}
#Services-Section ul > li:first-child{
    margin-left: 0;
}
#Services-Section ul > li:first-child:after{
    content: none;
    display: none;
}

.feature-section{
    padding: 0 !important;
    margin: 0 !important;
    height:100vh;
}
.feature-section > span{
    position: relative;
    height:100%;
    padding:0;
}
.feature-section > span:first-child{
    height: 200px;
}
.feature-section .title{
    position: absolute;
    top:50px;left:50%;
    transform: translateX(-50%);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.feature-section .img-section{
    position: relative;
    float:left;
    top:0;left:0;
    width:100%;height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#page-big-banner{
    position: relative;
    float: left;
    top:0;left:0;
    width:100%;height:100vh;
    min-height: 300px;max-height:400px;
    background-color: rgba(255, 108, 168,0.3);
    background-image: url('../../img/drawables/bg-001.png');
    background-attachment: fixed;
}
#page-big-banner h1{
    position: relative;
    float: left;
    top:50%;left:0;
    width:100%;height:auto;
    transform: translateY(-50%);
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom:20px;
    /*color:#FFF;*/
}
#page-big-banner h1 ~ hr{
    top:40%;
}

.list-content-masonary{
    column-count: 2;
    /*column-gap: 1em;*/
}
.list-content-masonary > *{
    display: inline-block;
    /*margin: 0 0 1em;*/
    width: 100%;
}

.albumn-list{
    position: relative;
    float: left;
    top:0;left:0;
    width:100%;height:auto;
    padding: 40px 0;
}
.albumn-list > a{
    height: auto;
    max-height: 400px;
    margin-bottom:0px;
    padding:0 5px;
    /*background-color: #F1C40F;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);*/
}
.albumn-list.close-fit > a{
    height:300px;
    max-height:300px;
    margin-bottom:5px;
}
.albumn-list > a > :first-child{
    position: relative;
    float: left;
    top:0;left:0;
    width:100%;height:100%;
    transition: all ease-in-out 0.1s;
}
.albumn-list > a > :first-child > figure{
    position: relative;
    top:0;left:0;
    width:100%;height:300px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid transparent;
    transition: all ease-in-out 0.1s;
}
.albumn-list > a:hover > :first-child > figure{
    transition: all ease-in-out 0.1s;
    /*transform: scale(0.99);*/
    z-index: 90;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.7);
    box-shadow: 0 1px 2px rgba(0,0,0,0.7);
}
.albumn-list > a:hover > :first-child > figure{
    border-color: #555;
    transition: all ease-in-out 0.1s;
}
.albumn-list > a > :first-child > figcaption{
    position: relative;
    top:0;left:0;
    width:100%;height:auto;
    padding:10px;
    font-size: 16px;
    color:#555;
    font-weight: 600;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.albumn-list > a:hover figcaption,
.albumn-list > a:active figcaption,
.albumn-list > a:visited figcaption,
.albumn-list > a:focus figcaption{
    color: #555;
}




#tehj-video-player{
    position: fixed;
    top:0;left:0;
    width:100vw;height:100vh;
    overflow-y: auto;
    display: none;
    background-color:#000;
    z-index: -1;
}
#tehj-video-player.open{
    display: block;
    z-index: 999;
}
#tehj-video-player > :first-child{
    position: relative;
    float: left;    
    top:0;left:0;
    width:100%;height:100%;
}
#tehj-video-player #fullsized_close{
    position: absolute;
    float: right;
    top:0;right:0;
}
#tehj-video-player #video-start{
    height:100%;
}
#tehj-video-player .embed-responsive{
    width: 100%;
    height: 100%;
}


footer{
    position:relative;
    clear: both;
    float: left;
    top:0;left:0;
    width:100%;height:auto;
    min-height:300px;
    background-color: #3b3b3b;
}

/*source.unsplash.com/random?city*/


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .list-content-masonary{
        column-count: 2;
        /*column-gap: 1em;*/
    }
    .page-section{
        padding-left: 0;
        padding-right: 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .list-content-masonary{
        column-count: 3;
        /*column-gap: 1em;*/
    }
    .page-section{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Medium Devices, Desktops */
@media (min-width: 992px) {
    #Home-Page-Hero #Hero-Title > *{
        font-size:80px;
        font-weight: 900;
    }
    .list-content-masonary{
        column-count: 4;
        /*column-gap: 1em;*/
    }
    .page-section{
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
